[Unit]
Description=Do backups
RequiresMountsFor=/root/var/backups

[Service]
EnvironmentFile=-/tmp/agent-info
Type=oneshot
IOSchedulingClass=best-effort
IOSchedulingPriority=7
ExecStart=/usr/bin/backup -v
ExecStartPost=/usr/bin/sync
