[Unit]
Description=Make backups
EnvironmentFile=-/tmp/agent-info

[Service]
Type=oneshot
IOSchedulingClass=best-effort
IOSchedulingPriority=7
ExecStart=/usr/bin/backup
