[Unit]
Description=Do a backup of %i
EnvironmentFile=-/tmp/agent-info

[Service]
Type=oneshot
IOSchedulingClass=best-effort
IOSchedulingPriority=7
ExecStart=/usr/bin/backup %i
